.header__logo {
  background: url('../../../images/mesto_logo.svg') no-repeat;
  background-size: contain;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 918px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
