.popup__heading {
  margin: 34px 0 54px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media screen and (max-width: 550px) {
  .popup__heading {
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
