.profile__info {
  display: grid;
  grid-template-columns: 90% min-content;
  margin-left: 30px;
  gap: 9px 14px;
  max-width: 65%;
}

@media screen and (max-width: 918px) {
  .profile__info {
    gap: 7px 8px;
    margin: 26px auto 33px;
    max-width: none;
  }
}
