.profile__button_type_add {
  align-self: flex-end;
  justify-self: flex-end;
  background-image: url('../../../../images/add_button.svg');
  background-size: 22px;
  border-width: 2px;
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
}

<<<<<<< HEAD:blocks/profile/__button/_type/profile__button_type_add.css
@media screen and (max-width: 918px) {
=======
@media screen and (max-width: 767px) {
>>>>>>> 5c7ec1685dbf9b965909975e4b4bc9c0a82b483e:blocks/profile/__button/_add/profile__button_add.css
  .profile__button_type_add {
    background-size: 16px;
    border-width: 2px;
    width: 282px;
    height: 50px;
    margin: 0 auto;
  }
}
